body{
    margin:0;
    padding:0;
    font-family: Arial, Helvetica, sans-serif
}
.block-header{
    color:#ffffff;
    background: #181818;
    height: 30px;
    display: flex;
}

.block-header__adder-bd{
    background-color: #1875d1;
    position: absolute;
    top:15px;
    left:15px;
    height: 24px;
    width: 24px;
    margin: 3px 3px 3px 0;
    text-align: center;
    line-height: 24px;
}

.content{
    height: 24px;
}

.content-block{
    /* background-color: #1875d1; */
    right: 0;
    width: 100%-24px;
}
.content-block-day{
    margin-left: 15px;
}

.content-block-day__tool{
    background-color: #181818;
    height: 24px ;
    width: 24px;
}

.block-header__text{
    position: absolute;
    left: 50%;
    top:6px;
    transform: translate(-50%,0);
}

.title{
    width: 100%;
    text-align: center;
}

.title__name-bd{
    font-size: 24px;
}